/** {
  background-color: #FFD34E;
}*/
body {
  color: #FFD34E;
}

.parent {
  display: flex;
  height: 300px;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: 100%;
  justify-content: space-around;
  justify-content: flex-center;
  background-color: #FFD34E;
}

.child {
  height: 250px;
  justify-content: center;
  flex-flow: center;
  text-align: center;
  align-items: center;
  margin: auto;
}

header, footer {
  font-family: 'Bitter';
  text-align: center;
  background-color: #DB9E36;
}
h1, h3 {
  color: #BD4932;
}

#box_one, #box_three {
background-color: #BD4932;
}

#box_two {
background-color: #FFFAD5;
}
.img {
  min-width: 80%;
  max-width: 90%;
  min-height: 90%;
  max-height: 99%;
}

main section h3 {

}
