body {
  border: 2px solid black;
}

main {
  border: 2px solid red;
}

.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.child {
  border: 2px solid green;
  justify-content: center;
  align-items: flex-center;
  text-align: center;
}

#box_one, #box_three {

}

#box_two {

}
.img {
  width: 200px;
  height: 150px;
}

